include *.rst
include CONTRIBUTORS.txt
include LICENSE
global-exclude *.pyc
recursive-include docs *.rst *.py
recursive-include tests *.py *.ini *.rst *_diff
recursive-include src *.py
prune docs/build/
